body {
    background-color: #2f2834;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;

    #header {
        background-color: dodgerblue;
        padding: 20px 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #body {
        display: flex;
        flex-direction: row;

        #products {
            padding: 5px;
            display: flex;
            flex-flow: row wrap;
            padding: 20px 50px;
        }

        > div:nth-child(2) {
            padding: 20px 50px;
        }
    }
}